In [1]:
import sqlite3 as sq

-> making connection with database using connect()

In [2]:
con = sq.connect('EMS.db')

->making cursor on con object

In [3]:
cur = con.cursor()

-> query-1 create table query and execute it using execute()

In [4]:
query='''create table if not exists employee 
        (eid int primary key,
         ename text,
         dept text,
         basic int,
         branch text)'''
cur.execute(query)
con.commit()

->Query-2 function to insert 5 record in table

In [15]:
def insertemp(n):
    l=[]
    query=f"insert into Employee values(?,?,?,?,?)"
       
    for i in range(n):
        eid=int(input("Enter Employee id:"))
        ename=input("Enter Employee name ")
        dept=input("Enter Employee department:")
        basic=int(input("Enter Employee basic salary:"))
        branch=input("Enter Employee branch:")
        t=(eid,ename,dept,basic,branch)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

-> Query-3 update record of employee who are from surat increment 10% in basic

In [22]:
def updatesal():
    query=f"update Employee set basic=basic+basic*0.1 where branch='surat'"
    cur.execute(query)
    con.commit()

->Query-4 print all record

In [24]:
def displayrecord():
    query=f"select * from Employee"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

->Query-5 print record whose department is 'hr' or 'it'

In [27]:
def deptrecord():
    query=f"select * from Employee where dept in ('hr','it','HR','IT')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-6 record in sorting order of department

In [28]:
def sortrecorddept():
    query=f"select * from Employee order by dept"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-7 records where  basic is >6000

In [30]:
def recordbasicgreaterthan():
    query=f"select * from Employee where basic>6000"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-8 records where employee's name second character is 'r'

In [10]:
def sortrecorddept():
    query=f"select * from Employee where ename like '_r%'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-9 grouping record of employee who are from "account" and "inventory"

In [39]:
def groupingrecord():
    query=f"select dept,count(*) as count  from Employee where dept in ('account','inventory')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("\nEmployee department:{}\ncount :{}".format(i[0],i[1]))

-> Query-10 print record based on branch name in descending order.

In [41]:
def orderbydesc():
    query=f"select * from Employee order by branch desc"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> call all function

In [16]:
insertemp(5)

Enter Employee id:1
Enter Employee name om
Enter Employee department:account
Enter Employee basic salary:15000
Enter Employee branch:sueat
Enter Employee id:2
Enter Employee name sai
Enter Employee department:hr
Enter Employee basic salary:20000
Enter Employee branch:bardoli
Enter Employee id:3
Enter Employee name pratham
Enter Employee department:it
Enter Employee basic salary:25000
Enter Employee branch:mandvi
Enter Employee id:4
Enter Employee name ram
Enter Employee department:inventory
Enter Employee basic salary:3000
Enter Employee branch:surat
Enter Employee id:5
Enter Employee name raj
Enter Employee department:account
Enter Employee basic salary:5000
Enter Employee branch:bardoli

In [25]:
updatesal()

In [26]:
displayrecord()

Employee id:1
Employee name:om
Employee department:account
Employee Basic:15000
Employee branch:sueat
Employee id:2
Employee name:sai
Employee department:hr
Employee Basic:20000
Employee branch:bardoli
Employee id:3
Employee name:pratham
Employee department:it
Employee Basic:25000
Employee branch:mandvi
Employee id:4
Employee name:ram
Employee department:inventory
Employee Basic:3630
Employee branch:surat
Employee id:5
Employee name:raj
Employee department:account
Employee Basic:5000
Employee branch:bardoli

In [29]:
sortrecorddept()

Employee id:1
Employee name:om
Employee department:account
Employee Basic:15000
Employee branch:sueat
Employee id:5
Employee name:raj
Employee department:account
Employee Basic:5000
Employee branch:bardoli
Employee id:2
Employee name:sai
Employee department:hr
Employee Basic:20000
Employee branch:bardoli
Employee id:4
Employee name:ram
Employee department:inventory
Employee Basic:3630
Employee branch:surat
Employee id:3
Employee name:pratham
Employee department:it
Employee Basic:25000
Employee branch:mandvi

In [31]:
recordbasicgreaterthan()

Employee id:1
Employee name:om
Employee department:account
Employee Basic:15000
Employee branch:sueat
Employee id:2
Employee name:sai
Employee department:hr
Employee Basic:20000
Employee branch:bardoli
Employee id:3
Employee name:pratham
Employee department:it
Employee Basic:25000
Employee branch:mandvi

In [32]:
sortrecorddept()

Employee id:1
Employee name:om
Employee department:account
Employee Basic:15000
Employee branch:sueat
Employee id:5
Employee name:raj
Employee department:account
Employee Basic:5000
Employee branch:bardoli
Employee id:2
Employee name:sai
Employee department:hr
Employee Basic:20000
Employee branch:bardoli
Employee id:4
Employee name:ram
Employee department:inventory
Employee Basic:3630
Employee branch:surat
Employee id:3
Employee name:pratham
Employee department:it
Employee Basic:25000
Employee branch:mandvi

In [40]:
groupingrecord()

Employee department:account
count :3

In [42]:
orderbydesc()

Employee id:4
Employee name:ram
Employee department:inventory
Employee Basic:3630
Employee branch:surat
Employee id:1
Employee name:om
Employee department:account
Employee Basic:15000
Employee branch:sueat
Employee id:3
Employee name:pratham
Employee department:it
Employee Basic:25000
Employee branch:mandvi
Employee id:2
Employee name:sai
Employee department:hr
Employee Basic:20000
Employee branch:bardoli
Employee id:5
Employee name:raj
Employee department:account
Employee Basic:5000
Employee branch:bardoli

In [43]:
con.commit()

-> close the connection with database

In [45]:
con.close()